.nav__links {
  background-color: white;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  position: absolute;
  right: 0;
  border-top: 1px solid rgb(181, 181, 181);
  z-index: 10;
}

.menu__visibility {
  display: none;
}

@media (max-width: 1200px) {
  .blog__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 1050px) {
  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 950px) {
  .blog__grid,
  .empty__blog {
    margin-top: 25rem;
  }
}

@media (max-width: 670px) {
  /* .menu__visibility {
    display: block;
    display: flex;
    width: 100%;
  } */
}

@media (max-width: 685px) {
  .blog__grid {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
  .blog__grid .blog__card .blog__image {
    height: 15rem;
  }
  .empty__tag {
    font-size: 1.2rem;
  }
  .empty__blog img {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 500px) {
  .empty__blog {
    display: flex;
    flex-direction: column;
  }
  .empty__tag {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .blog__grid .blog__card .blog__image {
    height: 12rem;
  }
}
