.fixed__navbar {
  position: fixed;
  z-index: 100;
}

.menu__btn {
  display: none;
}

@media (max-width: 1250px) {
  .search {
    display: none;
  }
}

@media (max-width: 670px) {
  .menu__btn {
    display: block;
  }
  .auth__links {
    display: none;
  }
}
